@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.landingContainer {
    display: flex;
    position: relative;
    min-height: 100vh;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
}

.highlight {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #7395AE;
}

.name {
    position: relative;
    padding-top: 10rem;
    padding-right: 10rem;
    padding-bottom: 1rem;
}

.name h1 {
    margin: 0;
    font-size: 7rem;
    letter-spacing: 0.3rem;
}

.socialContainer {
    position: relative;
    text-align: left;
    align-self: stretch;
    margin-top: 10px;
}

.socialContainer a {
    color: #5D5C61;
    margin: 0 10px;
    font-size: 40px; 
    transition: color 0.3s;
    display: inline-block;
    margin-right: 15px;
}
  
.socialContainer a:hover {
    color: #7395AE;
}

.leftPortion {
    color: rgb(255, 255, 255);
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 120px;
    margin-bottom: 100px;
}
  
.rightPortion {
    color: rgb(255, 255, 255);
    width: 66%;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    padding: 65px;
  }

.occupation h1 {
    margin: 10px 0;
    color: #7395AE;
    font-size: 4rem;
}
.occupation h1:hover {
    color: #ffffff;
    transition: color 0.6s;
    text-decoration: underline;
}

.introduction h1 {
    margin: 40px 0;
    color: #ffffff;
}

.aboutMeContainer button {
    background-color: #5D5C61;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.3rem;
    font-weight: 300;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Roboto Mono', monospace;
}
  
.aboutMeContainer button:hover {
    background-color: #7395AE;
}
  