@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
  background: #557A95;
  overflow-x: hidden;
}

nav {
  background: transparent;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

nav .logo img {
  height: 200px;
  margin-left: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 150px;
  cursor: pointer;
  font-size: 25px;
}

nav ul li:hover {
  text-decoration: underline;
  color: #7395AE;
}
main {
  padding-top: 40px;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
