@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
  background: #557A95;
  overflow-x: hidden;
}

nav {
  background: transparent;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

nav .logo img {
  height: 200px;
  margin-left: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 150px;
  cursor: pointer;
  font-size: 25px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #c7c7c7;
}

/* Content section styling */
main {
  padding-top: 60px; /* Adds padding to account for fixed navbar */
}

section {
  min-height: 100vh; /* Sets minimum height of each section to 100% of the viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
}
